/*********************** COLORS ****************************/

$purple: #9651e9;
$grey-pale: #f2f2f2;
$black: #3a3a3a;
$white: #ffffff;
$grey-medium: #6c757d;
$purple-light: #d9d2e1;

$font-regular: 400;
$font-bold: 700;
$font-black: 900;

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    280deg,
    rgb(217 210 225 / 50%) 10%,
    rgba(242, 242, 242, 1) 50%
  );
}

/***************** TITLES AND PARAGRAPHS *********************/
.title-1 {
  font-weight: $font-black;
  font-size: 36px;
  line-height: 1.39;
}

.label-small {
  color: $purple;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: $font-black;
  font-family: "Lato";
}

.label-error {
  font-weight: $font-bold;
  letter-spacing: 0;
  font-size: 12px;
  margin-top: 5px;
  color: $purple;
}

.required-field {
  font-size: 20px;
  line-height: 1px;
  position: relative;
  top: 8px;
  color: $purple;
  font-weight: $font-black;
  margin-right: 3px;
}

.paragraph {
  font-size: 16px;
  color: $grey-medium;
  font-weight: $font-regular;
}

/***************** FORMS / INPUTS *********************/
.c-form {
  padding: 48px;
  border-radius: 40px;
  box-shadow: 0 0 40px -10px grey;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  color: grey;
}

input {
  height: 40px;
  padding: 0 16px;
}

input,
textarea {
  border: none;
  border-radius: 6px;
  color: $black;
}

input:focus,
textarea:focus {
  outline: 0;
  // border: solid 1px $grey-medium;
  transition: 0.4s;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
}

textarea {
  height: 150px;
  padding: 8px 16px;
}

/***************** BUTTON *********************/
.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-purple {
  background: linear-gradient(
    280deg,
    rgba(150, 81, 233, 1) 70%,
    rgba(136, 73, 216, 1) 90%
  );
  color: $white;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: $font-bold;
  padding: 7px 32px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 18%);
  transition: all 0.3s ease 0s;
  border-radius: 6px;
}

.btn-purple:hover,
.btn-purple:focus {
  outline: 0;
  box-shadow: 0px 0px 10px 2px #2125295c;
  color: $white;
  font-weight: $font-bold;
  box-shadow: 0px 8px 20px rgb(144 77 225 / 62%);
  transform: translateY(-4px);
}

.m-120 {
  &.top {
    margin-top: 120px;
  }
  &.bottom {
    margin-bottom: 120px;
  }
  &.right {
    margin-right: 120px;
  }
  &.left {
    margin-left: 120px;
  }
}


.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-radius: 6px;
  border: none;
  height: 50px;
  display: flex;
  align-items: center;
}