<div class="col-8 offset-2 mt-5 c-courses-list m-120 bottom">
  <h1 class="title-1 mb-5">Cursos cadastrados</h1>
  <div class="mb-5">
    <label for="search">
      Insira o nome do curso
    </label>
    <div class="d-flex">
      <input type="search" id="search" class="w-100 input-search">
      <button class="btn btn-search">
        <i>
          <img src="../assets/img/loupe.svg" alt="Pesquisar">
        </i>
      </button>
    </div>
  </div>

  <div class="d-flex mb-3 table-header">
    <div class="col-3">
      Curso
      <button class="btn btn-down">
        <i>
          <img src="../assets/img/sort-by-name.svg" alt="Ordenar" title="Ordenar">
        </i>
      </button>
    </div>
    <div class="col-3">
      Duração
      <button class="btn btn-down">
        <i>
          <img src="../assets/img/sort-by-number.svg" alt="Ordenar" title="Ordenar">
        </i>
      </button>
    </div>
    <div class="col-3">Início</div>
    <div class="col-3">Conclusão</div>
  </div>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <div class="row">
          <div class="col-3">
            Curso XPTO
          </div>
          <div class="col-3">
            2 semanas
          </div>
          <div class="col-3">
            05/01/1987
          </div>
          <div class="col-3">
            30/01/1987
          </div>
          <button class="btn btn-collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" title="Saber mais">
            <i>
              <img src="../assets/img/arrow-down.svg" alt="Ver mais">
            </i>
          </button>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p class="label-small">Saiba mais sobre o curso</p>
          <p class="paragraph">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably haven't heard of them accusamus labore sustainable VHS.
          <p>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingThree">
        <div class="row">
          <div class="col-3">
            Curso XPTO
          </div>
          <div class="col-3">
            2 semanas
          </div>
          <div class="col-3">
            05/01/1987
          </div>
          <div class="col-3">
            30/01/1987
          </div>
          <button class="btn btn-collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" title="Saber mais">
            <i>
              <img src="../assets/img/arrow-down.svg" alt="Ver mais">
            </i>
          </button>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p class="label-small">Saiba mais sobre o curso</p>
          <p class="paragraph">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably haven't heard of them accusamus labore sustainable VHS.
          <p>
        </div>
      </div>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <div class="row">
          <div class="col-3">
            Curso XPTO
          </div>
          <div class="col-3">
            2 semanas
          </div>
          <div class="col-3">
            05/01/1987
          </div>
          <div class="col-3">
            30/01/1987
          </div>
          <button class="btn btn-collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" title="Saber mais">
            <i>
              <img src="../assets/img/arrow-down.svg" alt="Ver mais">
            </i>
          </button>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <p class="label-small">Saiba mais sobre o curso</p>
          <p class="paragraph">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably haven't heard of them accusamus labore sustainable VHS.
          <p>
        </div>
      </div>
    </div>
  </div>
</div>