<div class="col-8 offset-2 mt-5 c-courses-list m-120 bottom">
  <h1 class="title-1 mb-5">Cursos cadastrados</h1>
  <div class="mb-5">
    <label for="search">
      Insira o nome do curso
    </label>
    <div class="d-flex">
      <input type="search" id="search" class="w-100 input-search" [(ngModel)]="searchCourse">
      <button class="btn btn-search">
        <i>
          <img src="../assets/img/loupe.svg" alt="Pesquisar">
        </i>
      </button>
    </div>
  </div>
  <div class="d-flex mb-3 table-header">
    <div class="col-3">
      Curso
      <button class="btn btn-down">
        <i>
          <img src="../assets/img/sort-by-name.svg" alt="Ordenar" title="Ordenar">
        </i>
      </button>
    </div>
    <div class="col-3">
      Duração
      <button class="btn btn-down">
        <i>
          <img src="../assets/img/sort-by-number.svg" alt="Ordenar" title="Ordenar">
        </i>
      </button>
    </div>
    <div class="col-3">Início</div>
    <div class="col-3">Conclusão</div>
  </div>


  <div id="accordion" *ngFor="let curso of cursos | filterCourse: searchCourse; index as i">
    <div class="card">
      <div class="card-header" id="headingOne-{{i}}">
        <div class="row">
          <div class="col-3">
            {{ curso.name }}
          </div>
          <div class="col-3">
            {{ curso.duration }}
          </div>
          <div class="col-3">
            <div *ngIf="curso.start; else nodate">
              {{ curso.start | date: 'dd/MM/yyyy'}}
            </div>
            <ng-template #nodate>
              <p class="info-empty">Data não definida</p>
            </ng-template>
          </div>
          <div class="col-3">
            <div *ngIf="curso.end; else noDateEnd">
              {{ curso.end | date: 'dd/MM/yyyy'}}
            </div>
            <ng-template #noDateEnd>
              <p class="info-empty">Data não definida</p>
            </ng-template>
          </div>
         
          <button class="btn btn-collapse" data-toggle="collapse" attr.data-target="#collapseOne-{{i}}" aria-expanded="true" attr.aria-controls="collapseOne-{{i}}" title="Saber mais">
            <i>
              <img src="../assets/img/arrow-down.svg" alt="Ver mais">
            </i>
          </button>
        </div>
      </div>
      <div id="collapseOne-{{i}}" class="collapse" attr.aria-labelledby="headingOne-{{i}}" data-parent="#accordion">
        <div class="card-body">
          <div *ngIf="curso.description; else nodescription">
            <p class="label-small">Saiba mais sobre o curso</p>
            <p class="paragraph">
              {{ curso.description }}
            <p>
          </div>
          <ng-template #nodescription>
            <p class="label-small">Informações em breve</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</div>