<div class="col-8 offset-2 c-form mb-5 mt-5">
  <h1 class="title-1 mb-5">Cadastre seu curso!</h1>
  <form class="row">
    <div class="col-6 mb-4">
      <label for="name">
        Nome do curso
      </label>
      <input type="text" id="name" class="w-100">
    </div>
    <div class="col-6 mb-4">
      <label for="semanas">
        Duração em semanas
      </label>
      <input type="date" id="semanas" class="w-100">
    </div>
    <div class="col-6 mb-4">
      <label for="inicio">
        Data de início
      </label>
      <input type="date" id="inicio" class="w-100">
    </div>
    <div class="col-6 mb-4">
      <label for="conclusao">
        Data de conclusão
      </label>
      <input type="date" id="conclusao" class="w-100">
    </div>

    <div class="col-12">
      <label for="descricao">
        Descrição
      </label>
      <textarea type="date" id="descricao" class="w-100"></textarea>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-purple">Salvar</button>
    </div>
  </form>
</div>