<div class="col-8 offset-2 c-form">
  <h1 class="title-1">Cadastre seu curso!</h1>
  <form class="row">
    <div class="col-6">
      <label for="name">
        Nome do curso
      </label>
      <input type="text" id="name" class="w-100">
    </div>
    <div class="col-6">
      <label for="tempo">
        Tempo do curso
      </label>
      <input type="text" id="tempo" class="w-100">
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-purple">Salvar</button>
    </div>
  </form>

</div>