<div class="col-8 offset-2 c-form mb-5 mt-3">
  <h1 class="title-1 mb-5">Cadastre seu curso!</h1>
  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="col-6 mb-4" >
      <label for="name" [ngClass]="errorStyle('name')">
        <span class="required-field">*</span>
        Nome do curso
      </label>
      <input type="text" id="name" class="w-100" formControlName="name" [ngClass]="errorStyle('name')">
      <p *ngIf="form.get('name').invalid && form.get('name').touched" class="label-error">O campo nome do curso é obrigatório.</p>
    </div>
    <div class="col-6 mb-4">
      <label for="weeks" [ngClass]="errorStyle('duration')">
        <span class="required-field">*</span>
        Duração em semanas
      </label>
      <input type="number" id="weeks" min="0" class="w-100" formControlName="duration" [ngClass]="errorStyle('duration')">
      <p *ngIf="form.get('duration').invalid && form.get('duration').touched" class="label-error">O campo duração é obrigatório.</p>
    </div>
    <div class="col-6 mb-4">
      <label for="inicio">
        Data de início
      </label>
      <input type="date" id="inicio" class="w-100" formControlName="start">
    </div>
    <div class="col-6 mb-4">
      <label for="conclusao">
        Data de conclusão
      </label>
      <input type="date" id="conclusao" class="w-100" formControlName="end">
      <p *ngIf="form.get('end').invalid && form.get('end').touched" class="label-error">Por favor, insira uma data válida.</p>
    </div>
    <div class="col-12">
      <label for="descricao">
        Descrição
      </label>
      <textarea type="date" id="descricao" class="w-100" formControlName="description"></textarea>
    </div>
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-purple" [disabled]="form.invalid">Salvar</button>
    </div>
    <div *ngIf="formSubmitted" class="col-12 mt-4 alert alert-success alert-dismissible fade show" role="alert">
      <p class="label-small mb-0">Curso salvo com sucesso!</p>
    </div>
  </form>
</div>


<router-outlet></router-outlet>